// page form style

.form-wrapper {
  /deep/ .el-form-item {
    margin: 10px 0;
    padding: 0;
    width: 300px;
  }
  /deep/.el-form {
    // width: 90%;
    margin: 10px 30px;
    padding: 0;
  }
}

//form css
.form-btn {
  margin: 0px 20px 0 0;
  width: 90px;
}

.btn-view{
  margin-left: 30px;
}

/deep/.el-form-item__content {
  margin-left: none !important;
}


.form-btn_success {
  background-color: $g-success;
  border-color: $g-success;
}
