//颜色
$g-primary:#409eff;
$g-success:#67c23a;
$g-warning:#e6a23c;
$g-danger:#f56c6c;
$g-info:#909399;

//大小
$g-font-size-base: 18px;
$g-font-size-large: 20px;
$g-font-size-medium: 16px;
$g-font-size-small: 14px;

// 按钮圆角
$btn-radius: 5px;
$btn-width: 70px;
$btn-height: 45px;
$btn-bg-color: #409eff;
$btn-font-color: #fff;